# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [7]:
#range(start, stop[, step])
for i in range(-10, 0, 1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2. Using while loop print numbers 1 to 10

In [9]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

### 3. Using for loop print first ten even numbers

In [10]:
for i in range(0, 20, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18

### 4. Using while loop generate the table of 5

In [12]:
i = 1
while i <= 12:
  print( 5 * i)
  i += 1

5
10
15
20
25
30
35
40
45
50
55
60

### 5. Using for loop generate the table of 8

In [13]:
for i in range(1, 13):
  print( 8 * i)

8
16
24
32
40
48
56
64
72
80
88
96

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [15]:
#import random
#r_val = random.randint(1, 100)

for i in range(1, 101):
  div_by_five = (i % 5 == 0)
  div_by_three = (i % 3 == 0)
  if div_by_five:
    print("Buzz")
  if div_by_three and div_by_five:
    print("FizzBuzz")
  if not div_by_five and not div_by_three:
    print(i)

1
2
4
Buzz
7
8
Buzz
11
13
14
Buzz
FizzBuzz
16
17
19
Buzz
22
23
Buzz
26
28
29
Buzz
FizzBuzz
31
32
34
Buzz
37
38
Buzz
41
43
44
Buzz
FizzBuzz
46
47
49
Buzz
52
53
Buzz
56
58
59
Buzz
FizzBuzz
61
62
64
Buzz
67
68
Buzz
71
73
74
Buzz
FizzBuzz
76
77
79
Buzz
82
83
Buzz
86
88
89
Buzz
FizzBuzz
91
92
94
Buzz
97
98
Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [16]:
d = list()
d = 1
for i in range(2, 101):
  d += i
print(d)

5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [17]:
for num in range(202, 321):
  if num % 7 == 0 and num % 5 != 0:
    print(num)

203
217
224
231
238
252
259
266
273
287
294
301
308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [18]:
num_vowels = 0
st = "Data Science"
for ch in st:
  match ch:
    case 'a' | 'e' | 'i' | 'o' | 'u':
      num_vowels += 1
print(num_vowels)

5

### 10. Print Data Science 5 times using for loop

In [20]:
for i in range(5):
  print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science