# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [ ]:
a = 10
b = 5.1
add = a + b
type(add)

float

### 2. Is 5 == (3+2)?

In [ ]:
5 == (3+2)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [ ]:
a = 3
a = a +33
print(a)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [ ]:
a = float(a)

### 5. What will be 5 times *a* if the value of a is 10?

In [1]:
a = 10
print(a * 5)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [ ]:
base = 10
height = 5
area = 1/2 * base * height
print(area)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If

v = 10

w = 25

x = 70

y = 2

In [10]:


v = 10

w = 25

x = 70

y = 2

z = (v + w) * (x /y)
print(z)

1225.0

### 8. Swap values of *a* and *b*
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [14]:
a = 10
b = 5
a , b = b , a
print(a,b)

5 10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [18]:
# Formuale for convering Celsius to Farenheit is 9/5 * C + 32
F = 9/5 * 35 + 32
print(F)

95.0